@import "./reset";
@import "./variables";

*{
    font-size: 62.5%;
    font-family: pb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blackColor;
    height: 80px;
    position: fixed;
    z-index: 100;
    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-item{
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            padding: 0 35px;
            opacity: 0.6;
            transition: .4s;
            line-height: 80px;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    .right{
        cursor: pointer;
        .lang{
            span{
                color: #fff;
                font-weight: bold;
            }
            img{
                padding: 0px;
            }
        }
    }
}

.slider{
    height: 100vh;
    position: relative;
    .slide3{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    .brand{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .title{
            font: 83px pb;
            color: #bea67c;
            font-weight: bold ;
            letter-spacing: 20px;
        }
        .more-btn {
            width: fit-content;
            margin: 0 auto;
            text-decoration: none;
            color: #fff;
            font: 14px pb;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 15px 50px;
            border: 1.66px solid #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s;
            img{
                margin-left: 18px;
                width: 30px;
                height: 9px;
                transition: .4s;
            }
            &:hover{
                background: #bea67c;
            }
            
            &:hover img{
                transform: translateX(10px);
            }
        }
    }
    .slider-bot{
        position: absolute;
        bottom: 30px;
        width: 100%;
        .container-fluid{
            display:flex ;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .left{
                display: flex;
                position: relative;
                span{
                    color: #bea67c;
                    font: 42px pb;
                    font-weight: bold;
                    margin-left: 60px;
                }
                &:before{
                    content: "";
                    width: 42.5px;
                    height: 3.3px;
                    background-color: #bea67c;
                    position: absolute;
                    top: 45%;
                }
                .dot-list{
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 104px;
                    margin-left: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dot{
                        background-color: #bea67c;
                        width: 8px;
                        height: 8px;
                        margin-right: 15px;
                        cursor: pointer;
                        border-radius: 50%;
                    }
                }
            }
            .center{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                bottom: 10%;
                left: 50%;

                .mouse{
                    margin-bottom: 12px;
                }
                .line{
                    animation: lineanim 2s infinite linear;
                }
            }
            .right{
                .arrow-left-img, .arrow-right-img{
                    padding: 15px 16px;
                    border:1.66px solid #FFF ;
                    font-size: 16px;
                    transition: .4s ;
                    &:hover {
                        cursor: pointer;
                        background-color: #bea67c;
                    }
                }
                .arrow-left-img{
                    margin-right: -4.66px;
                }

            }
        }
    }
}

@keyframes lineanim{
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(20px);
    }
}

.feature {
    padding: 88px 0;
    .container{
        .feature-list{
            .feature-item{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;
                &:first-child{
                    flex-direction: row-reverse;
                }
                .feature-content{
                    padding: 0 95px;
                    .title{
                        font: 40px pb;
                        letter-spacing: 2.8px;
                        font-weight: bold;
                    }
                    p{
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #636262;
                    }
                    .fea-more-btn{
                        text-decoration: none;
                        letter-spacing: 2px;
                        position: relative;
                        padding: 10px 0;
                        &:after{
                            content: "";
                            width: 36.69px;
                            height: 1.66px;
                            background-color: #bea67c;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: .4s;
                            
                        }
                        span{
                            font: 14px pb;
                            color: $blackColor;
                        }
                        img{
                            transition: .4s;
                            margin-left: 5px;
                        }
                        &:hover img {
                            transform: translateX(15px);
                        }
                        &:hover::after {
                                width: 60px;
                        }
                    }
                }
                .decor{
                    text-align: right;
                    position: relative;
                    &::after{
                        content: "";
                        width: 80px;
                        height: 0.8px;
                        background-color: $blackColor;
                        position: absolute;
                        top: 14%;
                        right: 0;
                    }
                }
                .furniture{
                    position: relative;
                    &::before{
                        content: "";
                        width: 80px;
                        height: 0.8px;
                        background-color: $blackColor;
                        position: absolute;
                        top: 14%;
                        left: 0;
                    }
                }
            }
        }

    }
}

.feature-video {
    .title{
        font: 40px pb;
        text-align: center;
        line-height: 83px;
        margin-bottom: 0;
        position: relative;
        &:after{
            content: "";
            width: 36.66px;
            height: 3.33px;
            background-color: #bea67c;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    p{
        padding-top: 28px;
        width: 460px;
        margin: 0 auto;
        text-align: center;
        opacity: .8;
    }
    .list-video{
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        .video-items{
            .img-video{
                width: 176px;
                height: 176px;
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                border: 12px solid #fff;
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
                border-radius: 50%;
                .thumbnail{
                    transition: .4s;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transform-origin: center; // điểm mà vật thể sẽ transform 
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .play-btn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 58px;
                    height: 58px;
                    background-color: #bea67c;
                    opacity: .8;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    img{
                        margin-left: 5px;
                    }
                }
            }
            .title-video{
                text-align: center;
                padding-top: 20px;
                font-size: 16px;
                position: relative;
                &:before{
                    content: "";
                    width: 20.83px;
                    height: 2px;
                    background-color: #bea67c;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        }
    }
}

.design{
    padding: 190px 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom:0 ;
        right: 0;
        background-color: $blackColor;
        opacity: .7;
        z-index: 1 ;
    }
    .container{
        .text-box{
            position: relative;
            z-index: 10;
            h3{
                font: 40px pb;
                width: 460px;
                margin-bottom: 22px;
                color: #bea67c;
            }
            p{
                width: 460px;
                color: #FFF;
                letter-spacing:.5px;
                margin-top: 22px;
            }
            .box-btn{
                margin-top: 50px;
                .watch-btn{
                    padding: 15px 50px;
                    border: #FFF solid 1.66px;
                    transition: .4s;
                    &:hover{
                        background-color: #bea67c;
                        cursor: pointer;
                    }
                    span{
                        letter-spacing: 2px;
                        color: #FFF;
                        font-weight: bold;
                        font-size: 14 px;
                    }
                    img{
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

.about{
    padding: 80px 0;
    .container{
        .about-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .about-box{
                position: relative;
                &:before{
                    content: "";
                    width: 80px;
                    height: 2px;
                    background-color: $blackColor;
                    position: absolute;
                    top: 10%;
                    left: -40px;
                }
                padding: 0px 95px 0 60px;
                h3{
                    font: 40px pb;
                    letter-spacing: 2px;
                }
                p{
                    display: -webkit-inline-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    opacity: .8;
                }
                .more-btn{
                    position: relative;
                    &:after{
                        content: "";
                        width: 36.69px;
                        height: 1.66px;
                        background-color: #bea67c;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: .4s;
                    }
                    &:hover:after {
                        width: 60px;
                    }
                    text-decoration: none;
                    color: $blackColor;
                    padding: 10px 0;
                    span{
                        font: 14px pb;
                        letter-spacing: 2px;
                    }
                    img{
                        transition: .4s;
                    }
                    &:hover img{
                        transform: translate(15px);
                    }
                }
            }
        }
    }
}

.gallery{
    padding: 88px ;
    background-color: $blackColor;
    .container{
        .content-box{
            width: 460px;
            margin-bottom: 50px;
            h3{
                color: #fff;
                font: 40px pb;
                letter-spacing: 2px;
            }
            p{
                font: 16px pr;
                color: #fff;
                letter-spacing: .5px;
            }
        }
        .gallery-list{
            max-width: 970px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 200px 200px;
            gap: 10px;
            row-gap: 10px;
            position: relative;
            .img{
                filter: grayscale(1);
                transition: .6s;
                overflow: hidden;
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                img{
                    transition: .6s;
                }
                &:hover img{
                    cursor: pointer;
                    // filter: grayscale(0);
                    transform: scale(1.2);
                }
                &:hover {
                    transform: scale(.98);
                    filter: grayscale(0);
                }
                &:first-child{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &:nth-child(2){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                &:nth-child(3){
                    grid-column: 2/3;
                    grid-row: 1/3;
                }
                &:nth-child(4){
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
                &:nth-child(5){
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
            }
        }
    }
}

.news{
    padding: 80px 0;
    .container{
        .text-box-news{
            width: 460px;
            margin-bottom: 50px;
            h3{
                font: 40px pb;
                line-height: 73px;
            }
            p{
                font: 16px pr;
                letter-spacing: .5px;
            }
        }
        .buttons{
            margin-bottom: 30px;
            .button{
                font: 16px pb;
                color: #636362;
                padding: 10px 25px;
                margin-right: 18px;
                text-decoration: none;
                border: 2px solid #636362;
            }
        }
        .list-news{
            display: flex;
            justify-content: space-between;
            .news-item{
                width: 290px;
                .img-news{
                    height: 200px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .news-title{
                    height: 80px;
                    h4{
                        margin-bottom: 0px;
                        font: 18px pb;
                        margin-top: 50px;
                        position: relative;
                        letter-spacing: .4px;
                        &:before{
                            content: "";
                            width: 83.33px;
                            height: 3.33px;
                            background-color: #bea67c;
                            position: absolute;
                            left: 0;
                            top: -25px;
                        }
                    }
                }
                p{
                    margin-bottom: 0px;
                    font: 15px pr;
                    display: -webkit-inline-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}