html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  font-size: 62.5%;
  font-family: pb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  height: 80px;
  position: fixed;
  z-index: 100;
}
.header .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-list .nav-item {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 0 35px;
  opacity: 0.6;
  transition: 0.4s;
  line-height: 80px;
}
.header .nav-list .nav-item:hover {
  cursor: pointer;
  opacity: 1;
}
.header .right {
  cursor: pointer;
}
.header .right .lang span {
  color: #fff;
  font-weight: bold;
}
.header .right .lang img {
  padding: 0px;
}

.slider {
  height: 100vh;
  position: relative;
}
.slider .slide3 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.slider .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider .brand .title {
  font: 83px pb;
  color: #bea67c;
  font-weight: bold;
  letter-spacing: 20px;
}
.slider .brand .more-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font: 14px pb;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px 50px;
  border: 1.66px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.slider .brand .more-btn img {
  margin-left: 18px;
  width: 30px;
  height: 9px;
  transition: 0.4s;
}
.slider .brand .more-btn:hover {
  background: #bea67c;
}
.slider .brand .more-btn:hover img {
  transform: translateX(10px);
}
.slider .slider-bot {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.slider .slider-bot .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.slider .slider-bot .container-fluid .left {
  display: flex;
  position: relative;
}
.slider .slider-bot .container-fluid .left span {
  color: #bea67c;
  font: 42px pb;
  font-weight: bold;
  margin-left: 60px;
}
.slider .slider-bot .container-fluid .left:before {
  content: "";
  width: 42.5px;
  height: 3.3px;
  background-color: #bea67c;
  position: absolute;
  top: 45%;
}
.slider .slider-bot .container-fluid .left .dot-list {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 104px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slider-bot .container-fluid .left .dot-list .dot {
  background-color: #bea67c;
  width: 8px;
  height: 8px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.slider .slider-bot .container-fluid .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
.slider .slider-bot .container-fluid .center .mouse {
  margin-bottom: 12px;
}
.slider .slider-bot .container-fluid .center .line {
  -webkit-animation: lineanim 2s infinite linear;
          animation: lineanim 2s infinite linear;
}
.slider .slider-bot .container-fluid .right .arrow-left-img, .slider .slider-bot .container-fluid .right .arrow-right-img {
  padding: 15px 16px;
  border: 1.66px solid #FFF;
  font-size: 16px;
  transition: 0.4s;
}
.slider .slider-bot .container-fluid .right .arrow-left-img:hover, .slider .slider-bot .container-fluid .right .arrow-right-img:hover {
  cursor: pointer;
  background-color: #bea67c;
}
.slider .slider-bot .container-fluid .right .arrow-left-img {
  margin-right: -4.66px;
}

@-webkit-keyframes lineanim {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes lineanim {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
.feature {
  padding: 88px 0;
}
.feature .container .feature-list .feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.feature .container .feature-list .feature-item:first-child {
  flex-direction: row-reverse;
}
.feature .container .feature-list .feature-item .feature-content {
  padding: 0 95px;
}
.feature .container .feature-list .feature-item .feature-content .title {
  font: 40px pb;
  letter-spacing: 2.8px;
  font-weight: bold;
}
.feature .container .feature-list .feature-item .feature-content p {
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #636262;
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding: 10px 0;
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn:after {
  content: "";
  width: 36.69px;
  height: 1.66px;
  background-color: #bea67c;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn span {
  font: 14px pb;
  color: #010101;
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn img {
  transition: 0.4s;
  margin-left: 5px;
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn:hover img {
  transform: translateX(15px);
}
.feature .container .feature-list .feature-item .feature-content .fea-more-btn:hover::after {
  width: 60px;
}
.feature .container .feature-list .feature-item .decor {
  text-align: right;
  position: relative;
}
.feature .container .feature-list .feature-item .decor::after {
  content: "";
  width: 80px;
  height: 0.8px;
  background-color: #010101;
  position: absolute;
  top: 14%;
  right: 0;
}
.feature .container .feature-list .feature-item .furniture {
  position: relative;
}
.feature .container .feature-list .feature-item .furniture::before {
  content: "";
  width: 80px;
  height: 0.8px;
  background-color: #010101;
  position: absolute;
  top: 14%;
  left: 0;
}

.feature-video .title {
  font: 40px pb;
  text-align: center;
  line-height: 83px;
  margin-bottom: 0;
  position: relative;
}
.feature-video .title:after {
  content: "";
  width: 36.66px;
  height: 3.33px;
  background-color: #bea67c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.feature-video p {
  padding-top: 28px;
  width: 460px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.8;
}
.feature-video .list-video {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.feature-video .list-video .video-items .img-video {
  width: 176px;
  height: 176px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border: 12px solid #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.feature-video .list-video .video-items .img-video .thumbnail {
  transition: 0.4s;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-origin: center;
}
.feature-video .list-video .video-items .img-video .thumbnail:hover {
  transform: scale(1.2);
}
.feature-video .list-video .video-items .img-video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  background-color: #bea67c;
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.feature-video .list-video .video-items .img-video .play-btn img {
  margin-left: 5px;
}
.feature-video .list-video .video-items .title-video {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  position: relative;
}
.feature-video .list-video .video-items .title-video:before {
  content: "";
  width: 20.83px;
  height: 2px;
  background-color: #bea67c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.design {
  padding: 190px 0;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}
.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #010101;
  opacity: 0.7;
  z-index: 1;
}
.design .container .text-box {
  position: relative;
  z-index: 10;
}
.design .container .text-box h3 {
  font: 40px pb;
  width: 460px;
  margin-bottom: 22px;
  color: #bea67c;
}
.design .container .text-box p {
  width: 460px;
  color: #FFF;
  letter-spacing: 0.5px;
  margin-top: 22px;
}
.design .container .text-box .box-btn {
  margin-top: 50px;
}
.design .container .text-box .box-btn .watch-btn {
  padding: 15px 50px;
  border: #FFF solid 1.66px;
  transition: 0.4s;
}
.design .container .text-box .box-btn .watch-btn:hover {
  background-color: #bea67c;
  cursor: pointer;
}
.design .container .text-box .box-btn .watch-btn span {
  letter-spacing: 2px;
  color: #FFF;
  font-weight: bold;
  font-size: 14 px;
}
.design .container .text-box .box-btn .watch-btn img {
  margin-right: 16px;
}

.about {
  padding: 80px 0;
}
.about .container .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container .about-container .about-box {
  position: relative;
  padding: 0px 95px 0 60px;
}
.about .container .about-container .about-box:before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #010101;
  position: absolute;
  top: 10%;
  left: -40px;
}
.about .container .about-container .about-box h3 {
  font: 40px pb;
  letter-spacing: 2px;
}
.about .container .about-container .about-box p {
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.8;
}
.about .container .about-container .about-box .more-btn {
  position: relative;
  text-decoration: none;
  color: #010101;
  padding: 10px 0;
}
.about .container .about-container .about-box .more-btn:after {
  content: "";
  width: 36.69px;
  height: 1.66px;
  background-color: #bea67c;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
.about .container .about-container .about-box .more-btn:hover:after {
  width: 60px;
}
.about .container .about-container .about-box .more-btn span {
  font: 14px pb;
  letter-spacing: 2px;
}
.about .container .about-container .about-box .more-btn img {
  transition: 0.4s;
}
.about .container .about-container .about-box .more-btn:hover img {
  transform: translate(15px);
}

.gallery {
  padding: 88px;
  background-color: #010101;
}
.gallery .container .content-box {
  width: 460px;
  margin-bottom: 50px;
}
.gallery .container .content-box h3 {
  color: #fff;
  font: 40px pb;
  letter-spacing: 2px;
}
.gallery .container .content-box p {
  font: 16px pr;
  color: #fff;
  letter-spacing: 0.5px;
}
.gallery .container .gallery-list {
  max-width: 970px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  row-gap: 10px;
  position: relative;
}
.gallery .container .gallery-list .img {
  filter: grayscale(1);
  transition: 0.6s;
  overflow: hidden;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .container .gallery-list .img img {
  transition: 0.6s;
}
.gallery .container .gallery-list .img:hover img {
  cursor: pointer;
  transform: scale(1.2);
}
.gallery .container .gallery-list .img:hover {
  transform: scale(0.98);
  filter: grayscale(0);
}
.gallery .container .gallery-list .img:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.gallery .container .gallery-list .img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gallery .container .gallery-list .img:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.gallery .container .gallery-list .img:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.gallery .container .gallery-list .img:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.news {
  padding: 80px 0;
}
.news .container .text-box-news {
  width: 460px;
  margin-bottom: 50px;
}
.news .container .text-box-news h3 {
  font: 40px pb;
  line-height: 73px;
}
.news .container .text-box-news p {
  font: 16px pr;
  letter-spacing: 0.5px;
}
.news .container .buttons {
  margin-bottom: 30px;
}
.news .container .buttons .button {
  font: 16px pb;
  color: #636362;
  padding: 10px 25px;
  margin-right: 18px;
  text-decoration: none;
  border: 2px solid #636362;
}
.news .container .list-news {
  display: flex;
  justify-content: space-between;
}
.news .container .list-news .news-item {
  width: 290px;
}
.news .container .list-news .news-item .img-news {
  height: 200px;
  overflow: hidden;
}
.news .container .list-news .news-item .img-news img {
  width: 100%;
  height: 100%;
}
.news .container .list-news .news-item .news-title {
  height: 80px;
}
.news .container .list-news .news-item .news-title h4 {
  margin-bottom: 0px;
  font: 18px pb;
  margin-top: 50px;
  position: relative;
  letter-spacing: 0.4px;
}
.news .container .list-news .news-item .news-title h4:before {
  content: "";
  width: 83.33px;
  height: 3.33px;
  background-color: #bea67c;
  position: absolute;
  left: 0;
  top: -25px;
}
.news .container .list-news .news-item p {
  margin-bottom: 0px;
  font: 15px pr;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */