html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  font-size: 62.5%;
  font-family: pb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header .nav-list {
  display: flex;
}
.header .nav-list .nav-item {
  text-decoration: none;
  color: white;
  font-family: pr;
  font-size: 15px;
  padding: 29px 35px;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.3s;
}
.header .nav-list .nav-item:hover {
  opacity: 1;
}
.header .lang {
  text-decoration: none;
}
.header .lang span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.header .lang .btn {
  padding: 0;
  border: 0;
}

.slider {
  position: relative;
}
.slider .slide3 {
  width: 100%;
  height: auto;
}
.slider .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.slider .brand .title {
  font-size: 83px;
  color: #bea67c;
  font-weight: bold;
  letter-spacing: 20px;
  font-family: pb;
  margin-bottom: 50px;
}
.slider .brand .more-btn {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  padding: 15px 50px 15px 50px;
  border: 1.66px solid #fff;
  position: relative;
  transition: 0.3s;
}
.slider .brand .more-btn img {
  margin-left: 18px;
  transition: 0.3s;
}
.slider .brand .more-btn:hover img {
  transform: translateX(15px);
}
.slider .brand .more-btn:hover {
  background-color: #bea67c;
}
.slider .slider-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 35px;
  width: 100%;
}
.slider .slider-bot .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slider-bot .left:before {
  position: absolute;
  content: "";
  width: 42.5px;
  height: 3.33px;
  background-color: #bea67c;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider .slider-bot .left span {
  color: #bea67c;
  font-weight: bold;
  font: 42px pb;
  margin-left: 60px;
}
.slider .slider-bot .left .dot-list {
  display: flex;
}
.slider .slider-bot .left .dot-list .dot {
  background-color: #bea67c;
  opacity: 0.2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 20px;
}
.slider .slider-bot .left .dot-list .dot:hover {
  cursor: pointer;
}
.slider .slider-bot .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9px;
  height: 62px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50);
}
.slider .slider-bot .center .line {
  -webkit-animation: lineanm 1.5s infinite linear;
          animation: lineanm 1.5s infinite linear;
}
.slider .slider-bot .right .arrow-left, .slider .slider-bot .right .arrow-right {
  padding: 14px 17px;
  border: 1.66px solid #fff;
  font-size: 16px;
  transition: 0.4s;
}
.slider .slider-bot .right .arrow-left:hover, .slider .slider-bot .right .arrow-right:hover {
  background-color: #bea67c;
  cursor: pointer;
}
.slider .slider-bot .right .arrow-left {
  margin-right: -5px;
}

@-webkit-keyframes lineanm {
  from {
    transform: translateY(10%);
    opacity: 0.3;
  }
  to {
    transform: translateY(35%);
    opacity: 1;
  }
}

@keyframes lineanm {
  from {
    transform: translateY(10%);
    opacity: 0.3;
  }
  to {
    transform: translateY(35%);
    opacity: 1;
  }
}
.feature {
  padding: 88px 0;
}
.feature .feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .feature-item .feature-content {
  padding: 0 95px;
}
.feature .feature-item .feature-content h3 {
  font: 40px pb;
  letter-spacing: 2px;
}
.feature .feature-item .feature-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 270px;
  opacity: 0.8;
}
.feature .feature-item .feature-content .fea-more-btn {
  text-decoration: none;
  padding: 10px 0;
  position: relative;
}
.feature .feature-item .feature-content .fea-more-btn::before {
  content: "";
  transition: 0.4s;
  width: 36.69px;
  height: 1.66px;
  background: #bea67c;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature .feature-item .feature-content .fea-more-btn img {
  transition: 0.4s;
}
.feature .feature-item .feature-content .fea-more-btn:hover img {
  transform: translateX(40%);
}
.feature .feature-item .feature-content .fea-more-btn:hover:before {
  width: 60px;
}
.feature .feature-item .feature-content .fea-more-btn span {
  font: 14px pb;
  letter-spacing: 2px;
  color: black;
  margin-right: 7px;
}
.feature .feature-item .decor {
  text-align: right;
  position: relative;
}
.feature .feature-item .decor::before {
  content: "";
  width: 80px;
  height: 0.81px;
  position: absolute;
  background-color: black;
  top: 20%;
  right: 0;
}
.feature .feature-item .furniture {
  position: relative;
}
.feature .feature-item .furniture::before {
  content: "";
  width: 80px;
  height: 0.81px;
  position: absolute;
  background-color: black;
  top: 20%;
  left: 0;
}
.feature .feature-item2 {
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */